<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Monoton" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header class="site-header">
        <h1 class="site-header__title">
            <a class="site-header__link link" href="#">{{title}}</a>
        </h1>
        <button class="button site-header__toggle-menu site-header__toggle-menu--hidden">
            <!-- <img class="icon" src="./img/icons/menu.svg" alt="menu"> -->
            ☰
        </button>
        <nav class="site-header__nav">
            <ul class="nav-menu">
                <li class="nav-menu__item">
                    <a class="menu-item__link link" href="#about">About</a>
                </li>
                <li class="nav-menu__item">
                    <a class="menu-item__link link" href="#gallery">Gallery</a>
                </li>
                <li class="nav-menu__item">
                    <a class="menu-item__link link" href="#events">Events</a>
                </li>
                <li class="nav-menu__item">
                    <a class="menu-item__link link" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="hero-section">
            <h2 class="hero-section__text">{{title}}</h2>
            <img src="img/pic1.jpg" alt="band" class="img hero-section__image">
        </section>
        <section id="about" class="content-section">
            <h2>About Us</h2>
            <div class="about">
                <p class="about__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend posuere odio sed pulvinar. Suspendisse dui mi, iaculis
                    a dui ut, feugiat imperdiet risus. Morbi eu ipsum nisi. Nam dignissim posuere ante ac vestibulum. Mauris
                    tempus tellus nec magna ornare porttitor. Suspendisse sem sem, pulvinar in luctus id, viverra id urna.
                    Vestibulum eu feugiat ligula. Ut ante justo, porttitor in hendrerit eu, fermentum nec ipsum. Vestibulum
                    nunc ligula, laoreet at pretium sit amet, volutpat sed ex.
                </p>
                <p class="about__paragraph">
                    Nunc bibendum ligula et odio accumsan dignissim. Praesent porta turpis at enim rhoncus, sed mattis sapien efficitur. Cras
                    tristique malesuada sollicitudin. Cras ut faucibus turpis. Nulla id est posuere, suscipit velit at, bibendum
                    leo. Nam scelerisque turpis quis molestie luctus. Nulla id tellus bibendum, feugiat elit vitae, iaculis
                    turpis. Nulla fermentum ultricies vehicula. Aenean porta quis dui quis pellentesque. Vivamus at mauris
                    ut leo rhoncus iaculis vitae vel dolor. Sed sollicitudin viverra eros non mattis.
                </p>
            </div>
            <ul class="cards-container">
                {{#each memberList.members}}
                <li class="profile-card">
                    <div class="profile-card__photo">
                        <img src="{{avatar}}" class="img" alt="{{firstName}} {{lastName}}">
                    </div>
                    <p class="profile-card__name">
                        {{firstName}} {{lastName}}
                    </p>
                    <p class="profile-card__role">
                        {{role}}
                    </p>
                </li>
                {{/each}}
            </ul>
        </section>
        <section id="gallery" class="content-section gallery-section">
            <h2>Gallery</h2>
            <div class="gallery gallery--no-js">
                {{#each galleryImageList.images}}
                <a href="gallery/{{_id}}" title="{{title}}" class="gallery__wrapper">
                    <img class="gallery__image" src="gallery/{{_id}}" alt="{{title}}">
                </a>
                {{/each}}
            </div>
        </section>
        <section id="events" class="content-section events">
            <h2>Events</h2>
            {{#equal eventList.upcoming.length 0}}
            <p class="events__empty-message">No upcoming events</p>
            {{else}}
            <h3>Upcoming Events</h3>
            <ul class="event-list" id="eventList">
                {{#each eventList.upcoming}}
                <li class="event-list__item">
                    <h3 class="event-list__title">
                        <a class="link" href="{{link}}">{{description}}</a>
                    </h3>
                    <span class="event-list__location">{{location}}</span>
                    <span class="event-list__date">{{date date}}</span>
                </li>
                {{/each}}
            </ul>
            {{/equal}} {{#equal eventList.past.length 0}}
            <p class="events__empty-message">No past events</p>
            {{else}}
            <h3>Past Events</h3>
            <ul class="event-list event-list--with-pagination" id="pastEventsList">
                {{#each eventList.past}}
                <li class="event-list__item">
                    <h3 class="event-list__title">
                        <a class="link" href="{{link}}">{{description}}</a>
                    </h3>
                    <span class="event-list__location">{{location}}</span>
                    <span class="event-list__date">{{date date}}</span>
                </li>
                {{/each}}
            </ul>
            <div class="event-list__pagination">
                <button class="button event-list__button" id="eventsShowLess">Show Less</button>
                <button class="button event-list__button" id="eventsShowMore">Show More</button>
            </div>
            {{/equal}}
        </section>

        <section id="contact" class="content-section">
            <h2>Contact</h2>
            <ul class="contacts-list">
                {{#each contactList.contacts}}
                <li class="contacts-list__item">
                    <p class="contact-title">
                        {{#if title}}
                        <span class="contact-title__role">{{title}}</span>
                        {{#equal type "person"}}
                        <span class="contact-title__name">{{fullName this}}</span>
                        {{/equal}} {{else}}
                        <span class="contact-title__name--roleless">{{fullName this}}</span>
                        {{/if}}
                    </p>
                    {{#if email}}
                    <p class="contact__email">
                        <img class="icon contact-icon" src="img/icons/mail.svg" alt="">
                        <span>{{email}}</span>
                    </p>
                    {{/if}} {{#if phone}}
                    <p class="contact__phone">
                        <img class="icon contact-icon" src="img/icons/call.svg" alt="">
                        <span>{{phone}}</span>
                    </p>
                    {{/if}} {{#if link}}
                    <p class="contact__website">
                        <img class="icon contact-icon" src="img/icons/global.svg" alt="">
                        <a class="link" href="{{link}}">{{link}}</a>
                    </p>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    <footer class="site-footer">
        <small>&copy; Marek Sładczyk 2018</small>
    </footer>
    <script src="js/bundle.js"></script>
</body>

</html>